<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Medical Device Administration</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="south" size="30" closable="true" collapsible="true">
                    Medical Device Administration - Swan iCare @ 2016
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Menu" collapsible="true">
                    <p:menu>
                        <p:submenu label="Observations">
                            <p:menuitem value="MMP" outcome="/index_1" />
                            <p:menuitem value="PH" outcome="/index_2" />
                            <p:menuitem value="Temperature" outcome="/index_3" />
                            <p:menuitem value="Treatment" outcome="/index_4" />
                           </p:submenu>
<p:submenu label="Calibration">
                            <p:menuitem value="PH" outcome="/index_cp" />
                            <p:menuitem value="Temperature" outcome="/index_ct" />
                            </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h1>Real Time MMP Values</h1>
                    <h:form>
                    <p:poll interval="40" listener="#{dashboard.LoadGraphData()}" update="grid" />
                    <h:panelGroup  id="grid">

                        <p:panelGrid columns="2" style="width: 97%; ">
                            <p:chart id="g2" type="line" model="#{dashboard.dateModel2}" style="height:400px;" />
                            <p:chart id="g3" type="line" model="#{dashboard.dateModel3}" style="height:400px;" />
                            
                        </p:panelGrid>
                    </h:panelGroup>
</h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

